<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="name" />
        <input type="text" v-model="msg" />
        {{msg}} - {{name}}
        <div>test</div>
        <div>{{name}}</div>
    </div>

<script>
// 将数据和节点挂载一起
function compile(el) {
    var ele = document.querySelector(el);
    // 创建文档碎片
    var fragment = document.createDocumentFragment();
    // 循环获取ele下第一个元素
    var child = null;
    while(child = ele.firstChild) {
        fragment.appendChild(child);
    };
    replace(fragment);

    ele.appendChild(fragment);
}
function replace(fragment) {
    Array.from(fragment.childNodes).forEach(function(node) {
        // 元素节点
        if(node.nodeType === 1) {
            // 获取元素节点上的所有属性
            Array.from(node.attributes).forEach(function (attr) {
                console.log(attr);
            });
        }
        // 文本节点 {{name}} - {{msg}}
        var reg = /\{\{([^}]*)\}\}/g;
        var text = node.textContent;
        if(node.nodeType === 3 && reg.test(text)) {
            console.log(node);
        }

        if(node.childNodes.length) {
            replace(node);
        }
    });
}

compile("#app");
</script>

</body>
</html>